/* global variables  */
:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
  --blue300: hsl(221 100% 49%);
}

/* reset css  */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: Outfit, sans-serif;
  background-color: var(--slate300);
}

main {
  display: grid;
  flex: 1;
  place-items: center;
  padding: 0 2rem;
}
.qr-code-img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.card-container {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  max-width: 330px;
  box-shadow: 10px 20px 30px 15px rgba(0, 0, 0, 10%);
}

.title {
  color: var(--slate900);
  font-weight: 700;
  font-size: 1.5rem;
}
.paragraph {
  color: var(--slate500);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 1rem 1rem;
}
.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: var(--slate900);
  font-weight: 400;
  padding: 1rem;
}
.attribution a {
  font-weight: 700;
  color: var(--blue300);
}
.attribution a:hover {
  background-color: var(--blue300);
  color: var(--slate300);
}
