/* global variables  */
:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

/* reset css  */
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100dvb;
  font-family: Outfit, sans-serif;
}
