/* global variables  */
:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

/* reset css  */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvb;
  font-family: Outfit, sans-serif;
  background-color: var(--slate300);
}

main {
  display: grid;
  flex: 1;
  place-items: center;
  padding: 0 22.5px;
}
.qr-code-img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
}

.card-container {
  background-color: var(--white);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  max-width: 330px;
  box-shadow: 10px 20px 30px 15px rgba(0, 0, 0, 10%);
}

.card-container h2 {
  color: var(--slate900);
  font-weight: 700;
}
.card-container p {
  color: var(--slate500);
  font-size: 15px;
  font-weight: 400;
  margin: 0 10px 15px;
}
.attribution {
  font-size: 12px;
  text-align: center;
  color: var(--slate900);
  font-weight: 400;
  padding: 10px;
}
.attribution a {
  font-weight: 700;
  color: #2c7dfa;
}
.attribution a:hover {
  background-color: #2c7dfa;
  color: var(--slate300);
}
